.quizz-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: 
  linear-gradient(to bottom, #ffffff00 0%, #f4f6f8 100%),
  url("https://img.freepik.com/vector-gratis/gradiente-desenfoque-fondo-abstracto-azul-rosa_53876-117324.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quizz-container .close{
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background-color: #00000000;
  font-size: 15px;
  z-index: 1000;
  cursor: pointer;
  /* top: 0px; */
  
}


.quizz-container .question{
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 7px solid white;
}

.quizz-container .question .explanation-container{
  margin-top: 20px;
}

.quizz-container .question .explanation-container .btn-volver{
  border: none;
  background-color: #00000000;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #777777;
  font-weight: 600;
  cursor: pointer;
  
}

.quizz-container .question .explanation-container .btn-volver:hover{
  color: #383838;
}

.quizz-container .question .explanation-container .btn-volver img{
  width: 20px;
}


.quizz-container .question .explanation-container p{
  margin-top: 20px;
}




.quizz-container .question .bar-progres{
  text-align: end;
}

.quizz-container .question .question-content h3{
  font-size: 20px;
  margin-top: 20px;
}


.quizz-container .question .question-content  .options{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quizz-container .question .question-content .options button{
  text-align: start;
  padding: 20px;
  border-radius: 15px;
  background-color: #00000000;
  border: 2px solid #e5e7eb;
  
  font-size: 14px;
}


/* .quizz-container .question .question-content  .options:hover{
  background-color: #f7f7fa;
} */


.quizz-container .question .question-content  .options  .correct {
  background-color: #cbffcb;
  border: none;
  color: black;
}

.quizz-container .question .question-content  .options  .wrong {
  background-color: #ffb1b1;
  border: none;
  color: black;
}


.quizz-container .question   .btn-siguiente {
  margin-top: 20px;
 
}

.quizz-container .question  .btn-siguiente .next{
  background-color: #9e77e7;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  border: none;
}


.quizz-container .question .btn-siguiente .next:hover{
  background-color: #e754ec;
}



.quizz-container .question .btn-siguiente .next:disabled {
  opacity: 0.2; /* Hace el botón más transparente */
  cursor: not-allowed; /* Cambia el cursor a "prohibido" */
}






.quizz-container .question .viewResults-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quizz-container .question .viewResults-container .img img{
  width: 50px;
  height: 50px;
}

.quizz-container .question .viewResults-container h2{
  font-size: 1.5rem;
}



.quizz-container .question .viewResults-container .puntuacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #000000b5;
}


.quizz-container .question .actions-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.quizz-container .question .actions-container .btn-explanation{
  color: #b7b7b7;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #00000000;
  margin-top: 7px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.quizz-container .question .actions-container .btn-explanation img{
  width: 13px;
}

.quizz-container .question .viewResults-container  .btn-reiniciar-quiz button{
 background-color: #9e77e7;
 color: #ffffff;
 padding: 10px 30px;
 border-radius: 10px;
 border: none;
 font-size: 18px;
}


@media(max-width:500px) {


  .quizz-container{
    background-color: #f9fafb;
    background-image: none;
    display: flex;
    align-items: flex-start;
  }

  
  .quizz-container .question{
    background-color: #0070e000;
    border: none;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0) 0px 8px 24px;
  }

  .quizz-container .question .question-content h3{
    margin-top: 40px;
    border-radius: 20px;
  }




  .container-viewsumary .question-summary .options-summary button{
    border:none;
  }

.container-viewsumary .question-summary .options-summary .correcta{
  background-color: #cbffcb !important;
  border: none;
  color: black;
}

.container-viewsumary .question-summary .options-summary .incorrecta{
  background-color: #ffcbcb !important;
  border: none;
  color: black;
}


  
}









  
 





 